div.app{
  margin: 20px;
}
.input-todo{
  margin: 0 auto;
  background: #21E1E1;
  padding: 10px;
}
.input-group{
  margin: 0 auto!important;
}
input{
  padding: 10px;
  outline: none;
  width: 90%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  margin: 0 auto!important;

}
input:focus{
  outline: none;
  border: none;
}
button{
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  background-color: #3B9AE1;
  color: aliceblue;
}
.not-allowed{
  cursor: not-allowed;
}
.pointer{
  cursor: pointer;
}
.red{
  background: rgb(233, 56, 56);
}
.green{
  background: rgb(61, 212, 61);
}
select{
  padding: 10px;
  margin: 0 auto!important;
}
select:focus{
  outline: none;
}
ol > div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.btn-action {
  margin: 10px;
}
li{
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.todos-container::-webkit-scrollbar{
  display: none!important;
}
div.todo{
  background: #3B9AE1;
  width: 100%;
  min-width: 500px;
}
.todos-container{
  overflow-x:scroll;
}

/* @media screen and (max-width: 576px){
  .input-group{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
  }
} */